/*@font-face {
    font-family: roboto;
}*/

html, body {
	margin: 0;
	color: #ddd;
	font-family: sans-serif;
	font-weight: lighter;
	width:100%;
	height:100%;
	text-align: center;
  cursor: none;
  z-index: -100;
  overflow: hidden;
}

body {
  background-color: #2a2a2a;
}

muse-graph {
	background-color: #fed;
}

#trackXY {
	position: absolute;
	top: 5vh;
	left: 5vw;
	width: 40vw;
	height: 40vh;


}

#xTime{
	position: absolute;
	top: 50vh;
	left: 5vw;
	width: 40vw;
	height: 40vh;
}

#yTime{
	position: absolute;
	top: 5vh;
	left: 50vw;
	width: 40vw;
	height: 40vh;
}

#ardTime{
	position: absolute;
	top: 50vh;
	left: 50vw;
	width: 40vw;
	height: 40vh;
}
